.topnav {
  background-color: #333;
  overflow: hidden;
  display:flex;
  justify-content: space-between;
}


a{
color:white
}


.topnav b {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav b:hover {
  background-color: #ddd;
  color: black;
}

.topnav b.active {
  background-color: #04AA6D;
  color: white;
}

.adminWrapper {
  width: 90%;
  height: 100vh;
  margin: 0 auto;
  display:flex;
  flex-direction: column;
  align-items: center;
  text-align:center;
}


.adminList {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding-left: 40px; */
  /* padding-top: 20px; */
}

.checklistWrapper {
  width: 90%;
  height: 100vh;
  margin: 0 auto;
  display:flex;
  flex-direction: column;
  align-items: center;
}


.welcome{
  text-align: center;
  width: 75%;
  margin: 40px auto;
  padding: 5px 50px;
  box-shadow: 0 0 15px 2px gray;
}


.checklist-form{
  width: 75%;
  padding: 10% 10%;
  margin: 30px auto;
  box-shadow: 0 0 15px 2px gray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.checklist-form div {
  margin-bottom: 10px;
}

.checklistTasks{
  /* margin: 30px 0; */
  border: 2px solid;
  width: 70%;
  display:flex;
  flex-direction:column;
  align-items:center;
}



.assignedWrapper{
  width:90%;
  height: 100vh;
  margin: 0 auto;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.inboundWrapper {
  width:100%;
  height: 100vh;
  margin: 0 auto;
  display:flex;
}

.inboundLeft {
  width: 80%;
  margin-left: 0 auto;
}

.inboundTasks {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 40px;
  padding-top: 20px;
}

.task{
  margin-bottom: 15px;
  width: 90%;
  box-shadow: 0 0 5px 2px gray;
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1em;
  font-weight: 100;
}


.inboundSponsor{
  width: 75%;
  margin: 15px auto;
  /* padding: 5px 50px; */
}

.homePage {
  height: 90vh;
  /* margin-top: 50px; */
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
}


.homeWrap{
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}


.homeSponsor{
  padding: 30px 50px;
  /* margin: 30px 0; */
  box-shadow: 0 0 15px 2px gray;
  width: 70%;
  margin-bottom: 10px;
}

.homeInbound{
  padding: 30px 50px;
  box-shadow: 0 0 15px 2px gray;
  width: 70%;
}

.forms {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: large;
}


.login-form {
  padding: 50px 50px;
  margin: 30px 0;
  box-shadow: 0 0 15px 2px gray;
  display: flex;
  flex-direction: column;
  align-items: center;
}


  .register-form {
    padding: 50px 50px;
    margin: 30px 0;
    box-shadow: 0 0 15px 2px gray;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }

  .forms div{
    width: 100%;
    margin-bottom: 10px;
  }

  .submitBtn {
    width: 200px;
    height: 36px;
    border-radius: 18px;
    /* background-color: #1c89ff; */
    background-color: #4dacff;
    border: solid 1px transparent;
    color:black;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    transition: all .1s ease-in-out;
    justify-self: center;
    }

    .submitBtn:hover{
      background-color: rgb(72, 131, 241);
      border-color: #fff;
      transition: all .1s ease-in-out;
    }

.userList {
  width: 300px;

}